In [1202]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,f1_score
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
import numpy as np
data = pd.read_csv("train.csv")
#data
data_file = pd.read_csv("test.csv")
data_result = pd.read_csv("gender_submission.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [1203]:
#fill null values
data.drop('PassengerId', axis=1, inplace=True)

data['Name'] = data['Name'].map(lambda x: x.split(',')[1].split('.')[0].strip())
data['Name'] = data['Name'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
data['Name'] = data['Name'].replace('Mlle', 'Miss')
data['Name'] = data['Name'].replace('Ms', 'Miss')
data['Name'] = data['Name'].replace('Mme', 'Mrs')

data['Embarked'] = data['Embarked'].fillna("S")

data.drop('Ticket', axis=1, inplace=True)

for index,each in enumerate(data["Age"].isnull()):
    if each == True:
        data.loc[index,'Age'] = data[data['Name'] == data["Name"][index]]['Age'].mean()

for index,each in enumerate(data['Cabin'].isnull()):
    if each == False:
        data['Cabin'][index] = data['Cabin'][index][0]
data['Cabin'] = data['Cabin'].fillna("ND")
data

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,Mr,male,22.000000,1,0,7.2500,ND,S
1,1,1,Mrs,female,38.000000,1,0,71.2833,C,C
2,1,3,Miss,female,26.000000,0,0,7.9250,ND,S
3,1,1,Mrs,female,35.000000,1,0,53.1000,C,S
4,0,3,Mr,male,35.000000,0,0,8.0500,ND,S
5,0,3,Mr,male,32.368090,0,0,8.4583,ND,Q
6,0,1,Mr,male,54.000000,0,0,51.8625,E,S
7,0,3,Master,male,2.000000,3,1,21.0750,ND,S
8,1,3,Mrs,female,27.000000,0,2,11.1333,ND,S
9,1,2,Mrs,female,14.000000,1,0,30.0708,ND,C
10,1,3,Miss,female,4.000000,1,1,16.7000,G,S
11,1,1,Miss,female,58.000000,0,0,26.5500,C,S
12,0,3,Mr,male,20.000000,0,0,8.0500,ND,S
13,0,3,Mr,male,39.000000,1,5,31.2750,ND,S
14,0,3,Miss,female,14.000000,0,0,7.8542,ND,S
15,1,2,Mrs,female,55.000000,0,0,16.0000,ND,S
16,0,3,Master,male,2.000000,4,1,29.1250,ND,Q
17,1,2,Mr,male,32.368090,0,0,13.0000,ND,S
18,0,3,Mrs,female,31.000000,1,0,18.0000,ND,S
19,1,3,Mrs,female,35.788991,0,0,7.2250,ND,C
20,0,2,Mr,male,35.000000,0,0,26.0000,ND,S
21,1,2,Mr,male,34.000000,0,0,13.0000,D,S
22,1,3,Miss,female,15.000000,0,0,8.0292,ND,Q
23,1,1,Mr,male,28.000000,0,0,35.5000,A,S
24,0,3,Miss,female,8.000000,3,1,21.0750,ND,S
25,1,3,Mrs,female,38.000000,1,5,31.3875,ND,S
26,0,3,Mr,male,32.368090,0,0,7.2250,ND,C
27,0,1,Mr,male,19.000000,3,2,263.0000,C,S
28,1,3,Miss,female,21.845638,0,0,7.8792,ND,Q
29,0,3,Mr,male,32.368090,0,0,7.8958,ND,S
...,...,...,...,...,...,...,...,...,...,...
861,0,2,Mr,male,21.000000,1,0,11.5000,ND,S
862,1,1,Mrs,female,48.000000,0,0,25.9292,D,S
863,0,3,Miss,female,21.845638,8,2,69.5500,ND,S
864,0,2,Mr,male,24.000000,0,0,13.0000,ND,S
865,1,2,Mrs,female,42.000000,0,0,13.0000,ND,S
866,1,2,Miss,female,27.000000,1,0,13.8583,ND,C
867,0,1,Mr,male,31.000000,0,0,50.4958,A,S
868,0,3,Mr,male,32.368090,0,0,9.5000,ND,S
869,1,3,Master,male,4.000000,1,1,11.1333,ND,S
870,0,3,Mr,male,26.000000,0,0,7.8958,ND,S
871,1,1,Mrs,female,47.000000,1,1,52.5542,D,S
872,0,1,Mr,male,33.000000,0,0,5.0000,B,S
873,0,3,Mr,male,47.000000,0,0,9.0000,ND,S
874,1,2,Mrs,female,28.000000,1,0,24.0000,ND,C
875,1,3,Miss,female,15.000000,0,0,7.2250,ND,C
876,0,3,Mr,male,20.000000,0,0,9.8458,ND,S
877,0,3,Mr,male,19.000000,0,0,7.8958,ND,S
878,0,3,Mr,male,32.368090,0,0,7.8958,ND,S
879,1,1,Mrs,female,56.000000,0,1,83.1583,C,C
880,1,2,Mrs,female,25.000000,0,1,26.0000,ND,S
881,0,3,Mr,male,33.000000,0,0,7.8958,ND,S
882,0,3,Miss,female,22.000000,0,0,10.5167,ND,S
883,0,2,Mr,male,28.000000,0,0,10.5000,ND,S
884,0,3,Mr,male,25.000000,0,0,7.0500,ND,S
885,0,3,Mrs,female,39.000000,0,5,29.1250,ND,Q
886,0,2,Rare,male,27.000000,0,0,13.0000,ND,S
887,1,1,Miss,female,19.000000,0,0,30.0000,B,S
888,0,3,Miss,female,21.845638,1,2,23.4500,ND,S
889,1,1,Mr,male,26.000000,0,0,30.0000,C,C
890,0,3,Mr,male,32.000000,0,0,7.7500,ND,Q

In [1204]:
#
# cat_columns = list(data.select_dtypes(include=['category','object']))
# column_mask = []
# for column_name in list(data_feature_train.columns.values):
#     column_mask.append(column_name in cat_columns)
#col_ohe = list(data_feature_train.columns)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for each in ["Name","Sex","Cabin","Embarked"]:
    data[each] = le.fit_transform(data[each])

data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,2,1,22.000000,1,0,7.2500,7,2
1,1,1,3,0,38.000000,1,0,71.2833,2,0
2,1,3,1,0,26.000000,0,0,7.9250,7,2
3,1,1,3,0,35.000000,1,0,53.1000,2,2
4,0,3,2,1,35.000000,0,0,8.0500,7,2
5,0,3,2,1,32.368090,0,0,8.4583,7,1
6,0,1,2,1,54.000000,0,0,51.8625,4,2
7,0,3,0,1,2.000000,3,1,21.0750,7,2
8,1,3,3,0,27.000000,0,2,11.1333,7,2
9,1,2,3,0,14.000000,1,0,30.0708,7,0
10,1,3,1,0,4.000000,1,1,16.7000,6,2
11,1,1,1,0,58.000000,0,0,26.5500,2,2
12,0,3,2,1,20.000000,0,0,8.0500,7,2
13,0,3,2,1,39.000000,1,5,31.2750,7,2
14,0,3,1,0,14.000000,0,0,7.8542,7,2
15,1,2,3,0,55.000000,0,0,16.0000,7,2
16,0,3,0,1,2.000000,4,1,29.1250,7,1
17,1,2,2,1,32.368090,0,0,13.0000,7,2
18,0,3,3,0,31.000000,1,0,18.0000,7,2
19,1,3,3,0,35.788991,0,0,7.2250,7,0
20,0,2,2,1,35.000000,0,0,26.0000,7,2
21,1,2,2,1,34.000000,0,0,13.0000,3,2
22,1,3,1,0,15.000000,0,0,8.0292,7,1
23,1,1,2,1,28.000000,0,0,35.5000,0,2
24,0,3,1,0,8.000000,3,1,21.0750,7,2
25,1,3,3,0,38.000000,1,5,31.3875,7,2
26,0,3,2,1,32.368090,0,0,7.2250,7,0
27,0,1,2,1,19.000000,3,2,263.0000,2,2
28,1,3,1,0,21.845638,0,0,7.8792,7,1
29,0,3,2,1,32.368090,0,0,7.8958,7,2
...,...,...,...,...,...,...,...,...,...,...
861,0,2,2,1,21.000000,1,0,11.5000,7,2
862,1,1,3,0,48.000000,0,0,25.9292,3,2
863,0,3,1,0,21.845638,8,2,69.5500,7,2
864,0,2,2,1,24.000000,0,0,13.0000,7,2
865,1,2,3,0,42.000000,0,0,13.0000,7,2
866,1,2,1,0,27.000000,1,0,13.8583,7,0
867,0,1,2,1,31.000000,0,0,50.4958,0,2
868,0,3,2,1,32.368090,0,0,9.5000,7,2
869,1,3,0,1,4.000000,1,1,11.1333,7,2
870,0,3,2,1,26.000000,0,0,7.8958,7,2
871,1,1,3,0,47.000000,1,1,52.5542,3,2
872,0,1,2,1,33.000000,0,0,5.0000,1,2
873,0,3,2,1,47.000000,0,0,9.0000,7,2
874,1,2,3,0,28.000000,1,0,24.0000,7,0
875,1,3,1,0,15.000000,0,0,7.2250,7,0
876,0,3,2,1,20.000000,0,0,9.8458,7,2
877,0,3,2,1,19.000000,0,0,7.8958,7,2
878,0,3,2,1,32.368090,0,0,7.8958,7,2
879,1,1,3,0,56.000000,0,1,83.1583,2,0
880,1,2,3,0,25.000000,0,1,26.0000,7,2
881,0,3,2,1,33.000000,0,0,7.8958,7,2
882,0,3,1,0,22.000000,0,0,10.5167,7,2
883,0,2,2,1,28.000000,0,0,10.5000,7,2
884,0,3,2,1,25.000000,0,0,7.0500,7,2
885,0,3,3,0,39.000000,0,5,29.1250,7,1
886,0,2,4,1,27.000000,0,0,13.0000,7,2
887,1,1,1,0,19.000000,0,0,30.0000,1,2
888,0,3,1,0,21.845638,1,2,23.4500,7,2
889,1,1,2,1,26.000000,0,0,30.0000,2,0
890,0,3,2,1,32.000000,0,0,7.7500,7,1

In [1205]:
#data = pd.get_dummies(data)

In [1206]:
from sklearn.model_selection import train_test_split
data_train,data_test = train_test_split(data,train_size=0.7)
col = list(data.columns)
col.remove('Survived')
data_feature_train = data_train[col]
data_label_train = data_train["Survived"]
data_feature_test = data_test[col]
data_label_test = data_test["Survived"]

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [1207]:
data.nunique()

Survived      2
Pclass        3
Name          6
Sex           2
Age         110
SibSp         7
Parch         7
Fare        248
Cabin         9
Embarked      3
dtype: int64

In [1208]:
data.corr()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
Survived,1.000000,-0.338481,-0.069046,-0.543351,-0.089436,-0.035322,0.081629,0.257307,-0.295113,-0.167675
Pclass,-0.338481,1.000000,-0.182550,0.131900,-0.343857,0.083081,0.018443,-0.549500,0.742093,0.162098
Name,-0.069046,-0.182550,1.000000,0.058096,0.530765,-0.209505,-0.117709,-0.011661,-0.101069,0.006014
Sex,-0.543351,0.131900,0.058096,1.000000,0.117506,-0.114631,-0.245489,-0.182333,0.118635,0.108262
Age,-0.089436,-0.343857,0.530765,0.117506,1.000000,-0.267667,-0.196914,0.091031,-0.252577,-0.024549
SibSp,-0.035322,0.083081,-0.209505,-0.114631,-0.267667,1.000000,0.414838,0.159651,0.041058,0.068230
Parch,0.081629,0.018443,-0.117709,-0.245489,-0.196914,0.414838,1.000000,0.216225,-0.031553,0.039798
Fare,0.257307,-0.549500,-0.011661,-0.182333,0.091031,0.159651,0.216225,1.000000,-0.525742,-0.224719
Cabin,-0.295113,0.742093,-0.101069,0.118635,-0.252577,0.041058,-0.031553,-0.525742,1.000000,0.199444
Embarked,-0.167675,0.162098,0.006014,0.108262,-0.024549,0.068230,0.039798,-0.224719,0.199444,1.000000

In [1209]:
data_file.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [1210]:
data.isnull().sum(axis=0)

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [1211]:
data_feature_train.isnull().sum(axis=0)

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

# Training and test

In [1212]:
rf = RandomForestClassifier(n_estimators=50)
rf.fit(data_feature_train,data_label_train)
pred = rf.predict(data_feature_test)

In [1213]:
from sklearn.metrics import accuracy_score,f1_score
acc = accuracy_score(data_label_test,pred)
fs = f1_score(data_label_test,pred)

In [1214]:
acc

0.7723880597014925

In [1215]:
fs

0.6965174129353233

In [1216]:
model = GradientBoostingClassifier()
model.fit(data_feature_train,data_label_train)
#model.fit(x,y)
pred = model.predict(data_feature_test)
print(accuracy_score(data_label_test,pred))
print(data.columns)
model.feature_importances_

0.832089552238806
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

array([0.05784694, 0.03945477, 0.12039408, 0.29337541, 0.0546598 ,
       0.02515557, 0.3385932 , 0.03858388, 0.03193634])

In [1217]:
f1_score(data_label_test,pred)

0.7593582887700535

In [1218]:
# predicting test set
data_file.drop('PassengerId', axis=1, inplace=True)

data_file['Name'] = data_file['Name'].map(lambda x: x.split(',')[1].split('.')[0].strip())
data_file['Name'] = data_file['Name'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
data_file['Name'] = data_file['Name'].replace('Mlle', 'Miss')
data_file['Name'] = data_file['Name'].replace('Ms', 'Miss')
data_file['Name'] = data_file['Name'].replace('Mme', 'Mrs')

data_file['Embarked'] = data_file['Embarked'].fillna("S")

data_file.drop('Ticket', axis=1, inplace=True)

for index,each in enumerate(data_file["Age"].isnull()):
    if each == True:
        data_file.loc[index,'Age'] = data_file[data_file['Name'] == data_file["Name"][index]]['Age'].mean()

for index,each in enumerate(data_file['Cabin'].isnull()):
    if each == False:
        data_file['Cabin'][index] = data_file['Cabin'][index][0]
data_file['Cabin'] = data_file['Cabin'].fillna("ND")
data_file['Fare'] = data_file['Fare'].fillna(data_file['Fare'].mean())
le = LabelEncoder()
for each in ["Name","Sex","Cabin","Embarked"]:
    data_file[each] = le.fit_transform(data_file[each])

model = GradientBoostingClassifier()
model.fit(data[col],data['Survived'])
pred = model.predict(data_file[col])
data_file.dtypes

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Pclass        int64
Name          int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin         int64
Embarked      int64
dtype: object

In [1219]:
data_file.isnull().sum()

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [1220]:
f= open("output.csv",'w')
f.write("PassengerId,Survived\n")
for ind,each in enumerate(pred):
    f.write(str(data_result['PassengerId'][ind])+',')
    f.write(str(each)+'\n')
f.close()

In [1221]:

lr = LogisticRegression()
lr.fit(data_feature_train,data_label_train)
pred = lr.predict(data_feature_test)
acc = accuracy_score(data_label_test,pred)
fs = f1_score(data_label_test,pred)

In [1222]:
acc

0.7761194029850746

In [1223]:
fs

0.6808510638297872